<div>
  <input id="male" type="radio" value="id" name="gender" [(ngModel)]="client_type">
  <label class="custom-control-label" for="male">Client ID</label>
  </div>
  <div>
  <input id="female" type="radio" value="name" name="gender" [(ngModel)]="client_type">
  <label for="female">Client Name</label>
  </div>
  <div>
  <input type="text" name="client_value" [(ngModel)]="client_val">
  </div>
  <button type="button" (click)="search()">Find</button>

  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <div class="modal-title">List of Client</div>
    </div>
    <div class="col-sm-12">
    <table class="table">
    <thead>
    <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Client ID</th>
    <th scope="col">Policy</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of filteredData">
    <th scope="row">1</th>
    <td>{{item.client_name}}</td>
    <td (click)="selectClient(item.client_id)">{{item.client_id}}</td>
    <td>{{item.PolicyCompany}}</td>
    </tr>
    </tbody>
    </table>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="closePopup()">
    Close
    </button>
    </div>
    </div>
    </div>
    </div>
    <div *ngIf="showTable">
      <table class="table">
      <thead>
      <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Client ID</th>
      <th scope="col">Policy Number</th>
      <th scope="col">Policy Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let itm of finalPolicyData">
      <th scope="row">1</th>
      <td>{{itm.client_name}}</td>
      <td>{{itm.client_id}}</td>
      <td>{{itm.policy_number}}</td>
      <td>{{itm.policy_name}}</td>
      </tr>
      </tbody>
      </table>
      </div>